Source: anxa-guard
Section: unknown
Priority: optional
Maintainer: Basil Stotz <stotz@amxa.ch>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/anxa-guard.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/anxa-guard.git;a=summary

Package: anxa-guard
Architecture: all
Depends: ${misc:Depends},iptables,squid,squidguard
Description: Run Local Webfilters
 Run Local Webfilters
